@model acuity_tooll.Models.USER_PROFILE

@{
    ViewBag.Title = "Index";
}

@*LOGIN PAGE*@

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>


@*Form begin*@
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <fieldset>


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                    </div>
                </div>
                <div class="row justify-content-center">

                    <div class="col-md-7 col-lg-5">
                        <div class="wrap">
                            <div class="img" style="background-image: url(../images/nn.jpg)">

                                <br />
                            </div>
                            <div class="login-wrap p-4 p-md-5">
                                <div class="d-flex">
                                    <div class="w-50">
                                        <h3 class="mb-4">Sign In</h3>

                                    </div>

                                </div>
                                <form action="#" class="signin-form">

                                    <div class="form-group mt-3">
                                        @Html.ValidationMessageFor(a => a.USER_NAME)
                                        @Html.TextBoxFor(a => a.USER_NAME, new { @class = "form-control", required = "required" }) @*USER NAME*@
                                        <label class="form-control-placeholder" for="username">User Name</label>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(a => a.USER_PASSWORD)
                                        @Html.PasswordFor(a => a.USER_PASSWORD, new { @class = "form-control ", required = "required" }) @*PASSWORD*@
                                        <label class="form-control-placeholder" for="password">Password</label>
                                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="login" value="Index" class="form-control btn btn-primary rounded submit px-3">Sign In</button> @*SUBMIT BUTTON*@
                                    </div>
                                    @if (@ViewBag.Message != null)
                                    {@*Error Message*@
                                    <h6 class="text-danger error-message has-error " style="font-weight:bold">
                                        @ViewBag.Message
                                    </h6>
                                }
                                    <div class="form-group d-md-flex">
                                        <div class="w-50 text-left">
                                            <label class="checkbox-wrap checkbox-primary mb-0">
                                                Remember Me
                                                <input type="checkbox" checked>
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                                <p class="text-center">Not a member? <a data-toggle="tab" href="~/Home/Contact">Contact Us</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </fieldset>

}
@*Form End*@

@*SCRIPT SECTION*@
<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/main.js"></script>

